
@import url('https://fonts.googleapis.com/css?family=Lato|Rubik+Mono+One');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
} 

.title {
  font-family: 'Rubik Mono One';
}

.slogan { 
  color: #fff;
}

.slogan2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.App-logo {
  position: absolute;
  width: 80%;
  z-index: 97;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header {
  background-color: #C95B00;
  height: 85vh;
  padding: 20px;
  color: #222;
}

.App-intro {
  font-size: large;
}
.polygon {
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
  border-top: 50px solid #C95B00;
}

